.lineargradient1 {
  background: linear-gradient(#e66465, #9198e5);
}

.lineargradientrainbow135 {
  background: linear-gradient(135deg, #FF6663 0%,#FF6663 16.67%,0%,#FEB144 16.67%,#FEB144 33.34%,0%,#FDFD97 33.34%,#FDFD97 50.01%,0%,#9EE09E 50.01%,#9EE09E 66.68%,0%,#9EC1CF 66.68%,#9EC1CF 83.35%,0%,#CC99C9 100%);;
}

.lineargradientrainbow45 {
  background: linear-gradient(45deg, #FF6663 0%,#FF6663 16.67%,0%,#FEB144 16.67%,#FEB144 33.34%,0%,#FDFD97 33.34%,#FDFD97 50.01%,0%,#9EE09E 50.01%,#9EE09E 66.68%,0%,#9EC1CF 66.68%,#9EC1CF 83.35%,0%,#CC99C9 100%);;
}

.regcontainer {
  display: flex;
  justify-content: center;
}

.fpcontainer {
  display: flex;
  justify-content: center;
  height: 92vh;
  width: 100%
}

.align-item-center {
  align-self: center;
}
