.npcontainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.npcard {
  width: 75vw;
  margin: 40px;
}

.npcarddate{
  font-size:20px;
  color: gray;
  font-family:RobotoMono;
}

.npcardfooter{
  display: flex;
  justify-content: space-between;
}

/*overrides for coloring the react-bootstrap pagination bar*/
.pagination > li > a{
    background-color: white;
    color: #9EC1CF;
}

.pagination > li > span{
  background-color: white;
  color:#9EC1CF;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: white;
    background-color: #CC99C9;
    border-color: #CC99C9;
}

.pagination > .active > a{
    color: white;
    background-color: #9EC1CF !Important;
    border: solid 1px #9EC1CF !Important;
}

.pagination > .active > a:hover{
    background-color: #9EC1CF !Important;
    border: solid 1px #9EC1CF;
}

.pagination > .active > span
{
    color: white;
    background-color: #9EC1CF !Important;
    border: solid 1px #9EC1CF !Important;
}

.pagination > .active > span:hover
{
    background-color: #9EC1CF !Important;
    border: solid 1px #9EC1CF;
}
