.pcardcontainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.pcardclass {
  align-self: center;
  margin: 2vw;
  width: 25rem;
  border-radius: 2px;
  border-color: black;
}
